:root {
  --dark: black;
  --white: white;
  --white-2: white;
  --black: black;
}

body {
  background-color: var(--dark);
  letter-spacing: 0;
  font-size: 1em;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: var(--white);
  letter-spacing: .5px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Helveticanowdisplay, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

a {
  color: #fff;
  font-family: Helveticanowdisplay, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
}

label {
  margin-bottom: .3em;
  font-size: 1.25em;
  font-weight: 700;
  display: block;
}

blockquote {
  border-left: .3em solid #e2e2e2;
  margin-bottom: 1em;
  padding: 1em 2em 1em 1.7em;
  font-size: 1.2em;
  line-height: 1.6;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.styleguide_item {
  border-bottom: .1em solid #bdbdbd;
  padding: 2em 0;
}

.global_embed {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}

.global_symbol {
  position: fixed;
  inset: 0% 0% auto;
}

.styleguide_rich-text p {
  margin-top: 0;
  margin-bottom: 1.6em;
}

.styleguide_rich-text h1 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 3.28em;
}

.styleguide_rich-text h2 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 2.5em;
}

.styleguide_rich-text h3 {
  margin-top: 0;
  margin-bottom: .3em;
  font-size: 2.19em;
}

.styleguide_rich-text h4 {
  margin-top: 0;
  margin-bottom: .4em;
  font-size: 1.88em;
}

.styleguide_rich-text h5 {
  margin-top: 0;
  margin-bottom: .6em;
  font-size: 1.67em;
}

.styleguide_rich-text h6 {
  margin-top: 0;
  margin-bottom: .7em;
  font-size: 1.46em;
}

.page-wrapper {
  width: 100%;
  font-size: 1em;
  position: relative;
  overflow: hidden;
}

.page-main {
  scroll-snap-type: y mandatory;
  height: 100dvh;
  overflow-y: scroll;
}

.text-size-h1 {
  font-size: 3.28em;
  line-height: 1.2;
}

.text-size-h2 {
  font-size: 2.5em;
  line-height: 1.2;
}

.text-size-h3 {
  font-size: 2.19em;
  line-height: 1.3;
}

.text-size-h4 {
  font-size: 1.88em;
  line-height: 1.3;
}

.text-size-h5 {
  font-size: 1.67em;
  line-height: 1.3;
}

.text-size-h6 {
  font-size: 1.46em;
}

.styleguide_form-input {
  border: 1px solid #0003;
  border-radius: 0;
  height: 3em;
  margin-bottom: 1em;
  padding: 0 .9em;
  font-size: 1.25em;
}

.text-size-display {
  font-size: 4.38em;
  line-height: 1.1;
}

.styleguide_form-submit {
  font-size: 1.25em;
}

.styleguide_list {
  grid-column-gap: 2.5em;
  grid-row-gap: 2.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.page-padding {
  padding: 5em 6%;
}

.hero-section {
  background-color: var(--dark);
  scroll-snap-align: start;
  width: 100vw;
  height: 100dvh;
  position: relative;
}

.top-banner {
  z-index: 100;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  position: relative;
}

.top-banner.hide {
  display: none;
}

.banner-text-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-wrap {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.container-wrap.banner {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container-wrap.hide {
  display: none;
}

.container-wrap.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.in-text-link {
  font-weight: 400;
  text-decoration: underline;
}

.left-part {
  width: 48px;
  margin-left: -6px;
}

.right-part {
  justify-content: flex-end;
  align-items: center;
  width: 48px;
  margin-right: -6px;
  display: flex;
}

.close-banner {
  margin-right: 0;
}

.close-icon {
  width: 24px;
  max-width: none;
  margin-right: 0;
  padding-right: 0;
}

.nav-bar {
  z-index: 99;
  background-color: var(--dark);
  padding-top: 0;
  padding-bottom: 24px;
  position: fixed;
  inset: 0% 0% auto;
}

.top-nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  display: flex;
}

.top-nav._2 {
  z-index: 200;
  position: relative;
}

.top-nav._100 {
  width: 100%;
  display: none;
}

.nav-part {
  width: 260px;
}

.nav-part.right {
  justify-content: flex-end;
  align-items: center;
  height: 26px;
  max-height: 26px;
  display: flex;
}

.logo-img {
  width: 100%;
  max-width: none;
}

.logo-link {
  justify-content: center;
  align-items: center;
  width: 198px;
  display: flex;
}

.nav-contact-wrapper {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex-flow: column;
  display: flex;
}

.p-bold {
  font-weight: 500;
}

.p-bold.white {
  color: #fff;
}

.p-bold.white.center {
  text-align: center;
}

.p-bold.white.center.upper {
  text-transform: uppercase;
  font-size: 14px;
}

.link {
  color: #fff;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-family: Helveticanowdisplay, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 120%;
}

.link:hover, .link.underline {
  text-decoration: underline;
}

.link.underline.bold {
  font-weight: 500;
}

.menu-hamburger {
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.menu-hamburger.close {
  display: none;
}

.hamburger-menu-img {
  width: 24px;
  max-width: none;
}

.hamburger-menu-img.open {
  width: 48px;
}

.hero-images-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 128px 24px 24px;
  display: flex;
}

.hero-content {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
  display: flex;
  position: absolute;
  inset: 0%;
}

.top-empty {
  color: #0000;
  width: 1px;
  height: 96px;
}

.text-wrapper-hero {
  max-width: 538px;
  margin-top: -48px;
}

.chevron-down {
  width: 14px;
  max-width: none;
}

.part-hero {
  height: 100%;
}

.part-hero.right {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.part-hero.left {
  grid-column-gap: 112px;
  grid-row-gap: 112px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.lower-img-right-hero {
  width: 48.125em;
}

.image {
  width: 100%;
  max-width: none;
}

.image._80 {
  width: 80%;
}

.upper-left-img-hero {
  width: 33.875em;
}

.left-lower-img {
  justify-content: flex-end;
  align-items: flex-start;
  width: 42.625em;
  display: flex;
}

.img-lower-hero-left {
  width: 25em;
}

.about-section {
  scroll-snap-align: start;
  height: 100dvh;
}

.about-content-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-bottom: 48px;
  display: flex;
}

.text-wrapper-xl {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 820px;
  margin-top: 0;
  display: flex;
}

.text-wrapper-xl.width-540 {
  max-width: 540px;
}

.text-wrapper-sm {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.p {
  text-transform: uppercase;
  font-weight: 300;
}

.p.white {
  color: var(--white);
  line-height: 120%;
}

.p.white.center, .p.center {
  text-align: center;
}

.work-section {
  scroll-snap-align: start;
  height: 100dvh;
  min-height: 800px;
}

.project-wrapper {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 820px;
  margin-top: 0;
  display: flex;
}

.project-image {
  width: 68.875em;
}

.project-info {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.dark {
  color: var(--dark);
}

.work-content-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-bottom: 48px;
  display: flex;
}

.footer-section {
  scroll-snap-align: start;
  height: 100dvh;
  min-height: 800px;
}

.footer-socials {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.social-icons {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.cta-footer {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-sm {
  width: 14px;
  max-width: none;
}

.icon-m {
  width: 16px;
  max-width: none;
}

.h2 {
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-family: Helveticanowdisplay, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 96%;
}

.h2.center {
  text-align: center;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

._404-section {
  height: 100dvh;
  min-height: 800px;
}

._404-error-wrap {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-bottom: 48px;
  display: flex;
}

.error-text-wrapper {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.contact-content {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-wrapper-xxs {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.contact-section {
  height: 100dvh;
  min-height: 800px;
}

.contact-content-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-bottom: 48px;
  display: flex;
}

.schedule-content-wrappe {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 256px;
  display: flex;
}

.top-margin.footer {
  margin-top: 160px;
}

.schedule-call-event {
  width: 100vw;
}

.scroll-down-link {
  margin-bottom: -12px;
  padding: 12px;
}

.schedule-section {
  height: auto;
}

.schedule-content-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-bottom: 48px;
  display: flex;
}

.work-page-section {
  height: auto;
  padding-top: 256px;
  padding-bottom: 48px;
}

.work-list-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-bottom: 0;
  display: flex;
}

.cta38_link-image-wrapper {
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  margin-left: 50%;
  display: none;
  position: fixed;
  inset: 0%;
}

.cta38_link-image-wrapper.pointer-events-off {
  pointer-events: none;
  width: 25em;
  max-width: none;
  margin-left: auto;
  margin-right: 1.25em;
  padding-right: 0;
  display: none;
}

.container-wrapper {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.section_cta38 {
  margin-top: 136px;
}

.project-number {
  margin-bottom: 0;
  margin-left: 0;
}

.project-heading {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.cta38_component {
  grid-column-gap: 0rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

.cta38_link-block {
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  position: relative;
}

.cta38_link-block.hide {
  display: none;
}

.text-size-display-2 {
  letter-spacing: -.25vw;
  text-transform: uppercase;
  font-size: 6em;
  font-weight: 500;
  line-height: 98%;
}

.link-text-wrap {
  position: relative;
  overflow: hidden;
}

.link-text-wrap.proj-name {
  padding-right: .4em;
}

.cta38_link-image {
  width: 25em;
  max-width: none;
}

.dot {
  background-color: #0156cf;
  width: .625em;
  height: .625em;
}

.distance-work {
  width: 128px;
}

.work-h {
  max-width: 542px;
}

.testimonial-column-dark {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.testimonial-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 2.25fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  display: grid;
}

.testimonial-block-main {
  background-color: #f5f7fa;
  justify-content: space-between;
  padding: 32px 24px;
  display: flex;
}

.testimonial-main-image {
  object-fit: cover;
  width: 200px;
  height: 280px;
  margin-right: 24px;
}

.testimonial-main-content {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.testimonial-main-heading {
  margin-bottom: 2px;
  font-weight: 600;
}

.testimonial-block {
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 24px;
  display: flex;
}

.testimonial-info-two {
  align-items: center;
  display: flex;
}

.testimonial-image {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.testimonial-author-name {
  font-weight: 700;
}

.menu {
  z-index: 99;
  background-color: #000;
  width: 100vw;
  height: 100dvh;
  padding-top: 0;
  display: none;
  position: fixed;
  inset: 0%;
}

.menu-content-wrapper {
  z-index: 99;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 48px;
  display: flex;
  position: relative;
}

.menu-links {
  justify-content: center;
  align-items: center;
  display: flex;
}

.links-menu {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-family: Helveticanowdisplay, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 96%;
}

.top-nav-wrapper {
  z-index: 100;
  width: 100%;
  position: relative;
}

.menu-overlay {
  z-index: 98;
  opacity: .9;
  background-color: #000;
  position: fixed;
  inset: 0%;
}

.menu-hamburger-open {
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.menu-hamburger-open.close {
  display: none;
}

.top-space {
  height: 80px;
  max-height: 90px;
}

.mobile-menu {
  display: none;
}

.h3 {
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-family: Helveticanowdisplay, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 96%;
}

.h3.center {
  text-align: center;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.project-visuals {
  grid-column-gap: 10em;
  grid-row-gap: 10em;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.case-study-visual {
  z-index: 20;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.case-study-visual._7col {
  max-width: 60.375em;
}

.case-study-visual._4col {
  max-width: 34em;
}

.case-study-visual._8col {
  max-width: 69.25em;
}

.visual {
  width: 100%;
  max-width: none;
}

.visuals-split {
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.case-study-header {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-bottom: 0;
  display: flex;
}

.project-visuals-text {
  grid-column-gap: 192px;
  grid-row-gap: 192px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 192px;
  display: flex;
}

.cta-case-study {
  margin-top: 32px;
}

.cta-case-study.hide {
  display: none;
}

.page-main-no-scroll {
  height: auto;
}

.link-footer {
  display: block;
}

@media screen and (max-width: 991px) {
  .logo-link {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .hero-images-wrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .part-hero.right {
    width: 100%;
  }

  .part-hero.left {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .lower-img-right-hero {
    width: 32.375em;
  }

  .upper-left-img-hero {
    width: 21.125em;
  }

  .left-lower-img {
    justify-content: flex-end;
    align-items: flex-end;
    width: 15.5em;
    margin-top: 96px;
  }

  .work-section {
    min-height: auto;
  }

  .project-wrapper {
    width: 100%;
    max-width: none;
  }

  .project-image {
    width: 100%;
  }

  ._404-section, .contact-section {
    min-height: auto;
  }

  .cta38_link-image-wrapper {
    z-index: -1;
  }

  .text-size-display-2 {
    font-size: 4em;
  }

  .link-text-wrap.proj-name {
    padding-right: 0;
  }

  .dot {
    display: none;
  }

  .container-2 {
    max-width: 728px;
  }

  .testimonial-grid {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial-main-image {
    width: 300px;
    height: 350px;
  }

  .h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .container-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo-link {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .nav-contact-wrapper {
    display: none;
  }

  .hero-images-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lower-img-right-hero {
    width: 244px;
  }

  .upper-left-img-hero {
    width: 210px;
  }

  .left-lower-img {
    width: 118px;
  }

  .footer-section {
    min-height: auto;
  }

  .project-number {
    display: none;
  }

  .cta38_link-block {
    justify-content: center;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .text-size-display-2.work-name {
    font-size: 3em;
  }

  .distance-work {
    display: none;
  }

  .testimonial-column-dark {
    padding: 60px 15px;
  }

  .testimonial-main-image {
    width: 250px;
  }

  .code-embed {
    background-color: #0000;
    display: none;
  }

  .h3 {
    font-size: 28px;
  }

  .project-visuals, .project-visuals-text {
    grid-column-gap: 6em;
    grid-row-gap: 6em;
  }
}

@media screen and (max-width: 479px) {
  .top-banner {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .banner-text-wrapper {
    text-align: center;
  }

  .nav-part {
    width: 120px;
  }

  .logo-link {
    justify-content: center;
    align-items: center;
    width: 160px;
    display: flex;
  }

  .p-bold.white.center.upper {
    font-size: 12px;
  }

  .hamburger-menu-img.open {
    display: none;
  }

  .hamburger-menu-img.close {
    width: 20px;
  }

  .hero-images-wrapper {
    padding-top: 140px;
    padding-bottom: 24px;
  }

  .hero-content {
    padding-bottom: 24px;
  }

  .text-wrapper-hero {
    margin-top: 48px;
  }

  .upper-left-img-hero {
    width: 162px;
  }

  .about-content-wrapper {
    padding-bottom: 24px;
  }

  .text-wrapper-xl {
    margin-top: 24px;
  }

  .project-wrapper {
    margin-top: 40px;
  }

  .work-content-wrapper {
    padding-bottom: 24px;
  }

  .footer-socials {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .h2 {
    font-size: 40px;
  }

  ._404-error-wrap {
    padding-bottom: 24px;
  }

  .contact-content {
    margin-top: 24px;
  }

  .contact-content-wrapper {
    padding-bottom: 24px;
  }

  .schedule-content-wrappe {
    width: 100%;
    margin-top: 192px;
  }

  .schedule-call-event {
    width: 100%;
  }

  .schedule-content-wrapper {
    width: 100%;
    padding-bottom: 24px;
  }

  .work-page-section {
    padding-top: 192px;
    padding-bottom: 24px;
  }

  .container-wrapper {
    padding-left: 1em;
    padding-right: 1em;
  }

  .container-wrapper.work {
    padding-left: 0;
    padding-right: 0;
  }

  .section_cta38 {
    margin-top: 3em;
  }

  .project-number {
    margin-bottom: -1px;
    margin-left: .75em;
  }

  .cta38_link-block {
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .text-size-display-2 {
    letter-spacing: -1.5px;
    font-size: 2.5em;
  }

  .text-size-display-2.work-name {
    font-size: 2em;
  }

  .link-text-wrap.proj-name {
    padding-right: 0;
  }

  .number {
    font-size: .75em;
  }

  .distance-work {
    display: none;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-block-main {
    flex-direction: column;
  }

  .testimonial-main-image {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
    margin-right: 0;
  }

  .menu {
    display: none;
  }

  .menu-content-wrapper {
    padding-bottom: 24px;
  }

  .nav-link {
    font-size: 40px;
  }

  .mobile-menu {
    width: 32px;
    display: block;
  }

  .h3 {
    font-size: 28px;
  }

  .project-visuals {
    grid-column-gap: 4em;
    grid-row-gap: 4em;
  }

  .project-visuals-text {
    grid-column-gap: 4em;
    grid-row-gap: 4em;
    margin-top: 4em;
  }
}


@font-face {
  font-family: 'Helveticanowdisplay';
  src: url('../fonts/HelveticaNowDisplay-Bold.ttf') format('truetype'), url('../fonts/HelveticaNowDisplay-BoldIta.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticanowdisplay';
  src: url('../fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticanowdisplay Regita';
  src: url('../fonts/HelveticaNowDisplay-RegIta.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticanowdisplay Medita';
  src: url('../fonts/HelveticaNowDisplay-MedIta.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticanowdisplay';
  src: url('../fonts/HelveticaNowDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticanowdisplay';
  src: url('../fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}